body, html {
  height: 100%;
}

body {
  background-color: #f8f9fa;
}

#notepad textarea {
  resize: none;
}

.notes-slider {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.notes-slider .note-card {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  width: 250px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.notes-slider .note-card:hover {
  transform: scale(1.1);
}

.notes-slider .note-card .note-text {
  height: 100px;
  overflow: hidden;
}

.notes-slider .note-card .note-actions {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  display: flex;
  justify-content: space-between;
}

.notes-slider .note-card .note-actions button {
  font-size: 14px;
}

.field-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.slick-prev, .slick-next {
  color: #000;
}

.slick-prev {
  left: -25px;
  z-index: 1;
}

.slick-next {
  right: -25px;
  z-index: 1;
}

.slick-dots {
  bottom: -30px;
}

.slick-dots li button:before {
  color: #000;
}
#loader {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  text-align: center;
  padding-top: 20%;
  font-size: 2em;
}

.blur {
  filter: blur(5px);
}