body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#rules {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

#game-container {
    margin-top: 10px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board {
    display: inline-block;
    margin: 10px 0px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #333;
    font-size: 3em;
    line-height: 100px;
    cursor: pointer;
}

.square:hover {
    background-color: #f0f0f0;
}

.footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}