/* ConnectFour.css */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
}



.board {
  display: grid;
  grid-template-columns: repeat(7, 70px);
  grid-template-rows: repeat(6, 70px);
  gap: 5px;
  background-color: #6495ED;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.cell {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.disk-outer {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: absolute;
  top: -70px;
  left: 2.5px;
  transition: top 0.5s ease-in-out;
}

.player-1 {
  background-color: #FF6347;
}

.player-2 {
  background-color: #FFD700;
}
